<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" style="text-align: center">
  <h2 th:text="#{welcome.message}"></h2>
  <h3>Esta es una zona privada la web</h3>
  <p> Usuario Autenticado como: <span th:text="${#authentication.name}"></span></p>

  <hr/>
  <p>Notas del usuario</p>

  <div th:replace="~{fragments/tableNotes :: tableNotes(marksList=${marksList}, page=${page})}"></div>
  <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>