<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>


<div class="container">
  <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>

  <script>
    $( "#updateButton" ).click(function() {
      $("#marksTable").load('/user/list/update');
    });
  </script>

  <h2>Usuarios</h2>
  <p>Los usuarios que actualmente figuran en el sistema son los siguientes:</p>

  <div class="container">
    <div id="marksTable" th:replace="fragments/table :: userTable"></div>
  </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>